<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_linkguard-hq._tcp</string>
		<string>_linkguardpy._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>LinkGuard HQ 需要存取本地網路，才能建立通訊頻道並讓前線裝置連線</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>LinkGuard HQ 需要藍牙來連線 LoRa 指揮模組</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>LinkGuard HQ 使用語音辨識將前線會報音訊轉為文字</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>LinkGuard HQ 需要麥克風權限以進行語音辨識</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>LinkGuard HQ 需要定位權限以在外接地圖顯示指揮中心目前位置</string>
	<key>NSLocationUsageDescription</key>
	<string>LinkGuard HQ 需要定位權限以在外接地圖顯示指揮中心目前位置</string>
	<key>NSPrivacyLocalNetworkUsageDescription</key>
	<string>LinkGuard HQ 需要存取本地網路進行救援通訊</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
