<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_linkguard-hq._tcp</string><string>_linkguardpy._tcp</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>LinkGuard HQ 需要藍牙來連線 LoRa 指揮模組</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>LinkGuard HQ 使用語音辨識將前線會報音訊轉為文字</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>LinkGuard HQ 需要麥克風權限以進行語音辨識</string>
	<key>NSPrivacyLocalNetworkUsageDescription</key>
	<string>LinkGuard HQ 需要存取本地網路進行救援通訊</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
